<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.luansilveira.sosacessvel">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBW8GdR82WyvV2dLVrpsRlMy0_EPDh8wxI" />

        <activity android:name=".CadastroUsuarioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaPrincipalActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OcorrenciaActivity" />
        <activity
            android:name=".MapsDetalheOcorrenciaActivity"
            android:label="@string/title_activity_maps_detalhe_ocorrencia" />
        <activity android:name=".ListaOcorrenciasActivity" />
        <activity android:name=".ListaOcorrenciasPreCadastradasActivity" />
        <activity android:name=".OcorrenciaPreCadastradaActivity"></activity>
    </application>

</manifest>